{% extends "base.html" %}

{% block title %}
Facebook Blaster
{% endblock %}

{% block js_includes %}
<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
<script src="/js/facebook_blaster.js?1"></script>
<script src="https://raw.github.com/jseims/media_flow/master/js/media_flow.js"></script>
{% endblock %}

{% block facebook_body %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '111528055628412', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
   
   function handleLoginResponse(response) {
        if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Good to see you, ' + response.name + '.');
                FB.logout(function(response) {
                    console.log('Logged out.');
                });
            });
        } else {
            console.log('User cancelled login or did not fully authorize.');
        }   
   }
</script>
{% endblock %}


{% block content %}    
<div style="font-size: 14px;">



<p>An example of <a href="/js/media_flow.js">media_flow.js</a> applied to FaceBook photos.

    <div id="facebook_blaster" class="tan_box rounded" style="width: 958px; height: 600px; padding: 0px; margin-bottom: 30px;">
        <div style="margin-top: 280px; margin-left: 373px;" id="blastBtnDiv">
            <a href="javascript:FB.login(facebook_blaster.handleLoginResponse, {scope:'user_photos,friends_photos'})" class="btn primary large" id="blasterBtn">Start FaceBook Photo Flow</a>
            <div style="margin-top: 20px; margin-left: 50px;" id="loadingInfo"></div>
        </div>
    </div>
        
    <div style="text-align: center; display: none;" id="playBtnDiv">
        <a href="javascript:void(0)" class="btn primary large" id="playBtn">PAUSE</a>
        <span style="margin-left: 50px; display: none;" id="removeFriendFilterDiv"><a href="javascript:facebook_blaster.handleFriendFilter()" class="btn primary large" id="playBtn">Return to All Photos</a></span>
    </div>
    
</div>

<div id="bigImageInfo" class="popupDialogue" style="text-align:center;"> 
    <div id="photo_title" style="font-size: 24px; margin-bottom: 10px;"></div>
    <a href="" id="facebook_img_target" target="new"><img src="" id="facebook_img"></a>
    <div style="text-align:left; padding-left: 200px; padding-right: 200px; margin: 20px;">
        <div style="padding-bottom: 10px;" id="posterDiv"></div>
        <div style="padding-bottom: 10px; text-align: center;" id="setFriendFilterDiv">
            <a href="javascript:facebook_blaster.handleFriendFilter()" class="btn primary large" id="friendFilter"></a>
        </div>
        <div id="commentsDiv""></div>
    </div>
    <div style="text-align:center"><a class="close" href="#">close</a> </div>
</div> 
    
{% endblock %}

