{% extends "base.html" %}

{% block js_includes %}
<script src="/js/fun_pics.js"></script>
{% endblock %}


{% block content %}    
<div style="font-size: 14px; margin-bottom: 20px; background: url(../images/seperator.png) repeat-x bottom;">
<p>Browse through popular images posted to <a href="www.reddit.com">reddit</a>.
<br>Also, you and a friend can synchronize your viewing experiences by both going to:

<p style="text-align: center">http://www.tristara.com/fun_pics?channel={{channel}}</p>

<p>For more details, see blog post <a href="">fdsdfdfdf</a>.
</div>    

<div style="clear:both; float: left;">

    <div>Subreddit: <span id="reddit_subreddit"></span></div>
    <div id="reddit_comments"></div>
    
</div>

<div style="float:right; text-align: right">

    <div><button id="reddit_next"><span style="font-size: 24px;">NEXT</span></button></div>
    <div><input type="checkbox" name="nsfw" value="1" onclick="fun_pics.toggleNsfw(this)"/> NSFW</div>
    
</div>

<div style="text-align:center;clear:both;">  
    <div id="reddit_title" style="font-size: 24px; margin-bottom: 10px;"></div>
    <img src="" id="reddit_img">
</div>

{% endblock %}
