{% extends "base.html" %}

{% block title %}
Reddit Image Viewer
{% endblock %}

{% block js_includes %}
<script src="/js/fun_pics.js"></script>
{% endblock %}

{% block js_body %}
<div pub-key="pub-a2f76fd1-a391-4541-8119-9c0a43013712" sub-key="sub-d2127805-6c4b-11e0-83b6-9fe8de9a9929" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script language="javascript">
    fun_pics.setChannel({{channel}});
</script>    
{% endblock %}

{% block content %}    
<div style="font-size: 14px;">
<p>Browse through popular images posted to <a href="http://www.reddit.com">reddit</a>.
<br>Also, you and a friend can synchronize your viewing experiences by both going to:

<p style="text-align: center">http://www.tristara.com/fun_pics?channel={{channel}}</p>

<p>For more details, see <a href="blog/2011/fun-with-reddit-image-posts/">Fun with Reddit Image Data</a>.
</div>    

<div class="tan_box rounded">

<div style="clear:both; float: left;">

    <div>Subreddit: <span id="reddit_subreddit"></span></div>
    <div>Author: <span id="reddit_author"></span></div>
    <div id="reddit_comments"></div>
    
</div>

<div style="float:right; text-align: right; padding-top: 5px;">
    <div style="margin-bottom: 5px;"><a href="javascript:void(0)" class="btn primary large" id="reddit_next">NEXT</a></div>
    <div><input type="checkbox" name="nsfw" value="1" onclick="fun_pics.toggleNsfw(this)"/> NSFW</div>
    <div id ="reddit_num_results"></div>
</div>

<div style="text-align:center; clear:both; padding-bottom: 40px;">  
    <div id="reddit_title" style="font-size: 24px; margin-bottom: 10px;"></div>
    <a href="" id="reddit_img_target"><img src="" id="reddit_img"></a>
    
    <div style="margin-top: 20px;">
        <div style="float:left; margin-left: 370px;">
            Tweet this photo
        </div>
       
        <div style="float: left; margin-bottom: 10px; margin-left: 10px;" id="reddit_tweet"></div>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>  
                
    </div>
    
 </div>

</div>

<!-- add lots of vertical space so NEXT button stay in one place as new photos cycle in -->
<div style="padding-top: 1000px;"></div>

<div id="reddit_loading">
    <img src="/images/loader.gif" alt="loading...">
    <div>
        <em>Loading image</em>
    </div>
</div>
{% endblock %}

