{% extends "base.html" %}

{% block js_includes %}
<script>

</script>
{% endblock %}

{% block content %}    
    <div style="text-align:center; padding-bottom: 20px;">  

        <div style="font-size: 36px; margin-bottom: 20px;">
            Html5 Video Example
        </div>    

<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>

<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>
    
<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>

<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>

<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>

<div>
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    
    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

    <video width="160" height="120" autoplay >
      <source src="http://videos.hitplay.com/hitplay.com/videos/_DL7zP7Da1o.thumbnail.mp4?start=143&end=161" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>

</div>    
    
    </div><!-- end main -->

{% endblock %}
