{% extends "base.html" %}

{% block content %}    
<div id="left_content" style="clear:both"><!-- content -->

<h1>Projects</h1> 

<p>
Here's a small sampling of some things I've done:
</p>

<div id="project">

  <div id="project_img">
    <a href="video_wall"><img src="images/flow_mode.png" style="border:1px solid #dcdcdc;"></a>
  </div>
  
  <div id="project_text">
    <p><span><a href="video_wall">Video Wall</a></span>
    <p>I created a special video player that blasts a continuous stream of random moments of videos at you.
    <p>For this demo, I loaded up the player with YouTube's top 1000 videos of all time.
    <p><a href="video_wall"><img src="images/more.png" class="more" width="68" height="24" alt="more" /></a>
  </div>

</div>

<div id="project">

  <div id="project_img">
    <a href="blog/2011/i-am-almost-there/"><img src="images/almost_there.png"></a>
  </div>
  
  <div id="project_text">
    <p><span><a href="blog/2011/i-am-almost-there/">I'm Almost There</a></span>
    <p>Lucas Ryan and I wrote this iPhone app last year.
    <p>The app sends a text message that links to a web page showing people where you are on a map.
    <p><a href="blog/2011/i-am-almost-there/"><img src="images/more.png" class="more" width="68" height="24" alt="more" /></a>
  </div>

</div>

<div id="project">

  <div id="project_img">
    <a href="fun_pics"><img src="images/reddit-alien.jpg" style="border:1px solid #dcdcdc;"></a>
  </div>
  
  <div id="project_text">
    <p><span><a href="fun_pics">Reddit Image Viewer</a></span>
    <p>Reddit gets thousands of images posted every day.
    <p>This app lets you  view pictures these pictures in a way that's fun, easy, and social.
    <p><a href="fun_pics"><img src="images/more.png" class="more" width="68" height="24" alt="more" /></a>
  </div>

</div>
                  
</div><!-- end content -->

{% include "sidebar.html" %}

{% endblock %}
