{% extends "base.html" %}

{% block title %}
Reddit Blaster
{% endblock %}

{% block js_includes %}
<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
<script src="https://raw.github.com/jseims/media_flow/master/js/media_flow.js"></script>
<script src="/js/reddit_blaster.js?4"></script>

{% endblock %}

{% block content %}    
<div style="font-size: 14px;">
<p>An example of <a href="/js/media_flow.js">media_flow.js</a> applied to images from <a href="http://www.reddit.com">reddit</a>.

    <div id="reddit_blaster" class="tan_box rounded" style="width: 958px; height: 690px; padding: 0px; margin-bottom: 30px;"></div>

    <div>
        
        <span><a href="javascript:void(0)" class="btn primary large" id="playBtn">PAUSE</a></span>
    
        <span style="margin-left: 100px;">
        
        <!-- <input type="text" name="subreddit" id="subreddit" placeholder="Subreddit" title="Fill in a subreddit and press enter!"></span> -->
            Subreddit:  <select id="subreddit"> 
                {% for subreddit in subreddit_info.list %}
                            <option value="{{subreddit}}" {% if subreddit == start_subreddit %} selected="selected" {% endif %}>{{subreddit}}</option>
                {% endfor %}
                        </select>
        </span>
    
        <span id="resultCount" style="float: right;"></span>
    
    </div>
</div>

<div id="bigImageInfo" class="popupDialogue" style="text-align:center;"> 
    <div id="reddit_title" style="font-size: 24px; margin-bottom: 10px;"></div>
    <a href="" id="reddit_img_target" target="new"><img src="" id="reddit_img"></a>
    <div style="text-align:center"><a class="close" href="#">close</a> </div>
</div> 
    
{% endblock %}

{% block js_body %}
<script type="text/javascript">
    reddit_blaster.setOver18({{subreddit_info.nsfw}});
    reddit_blaster.setSubredditFilter("{{start_subreddit}}");
</script>
{% endblock %}