
<div id="sidebar"><!-- sidebar -->

<h3>Recent</h3>

    <div class="navcontainer">
    <ul>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li><a href="#">Maecenas leo risus</a></li>
    <li><a href="#">Donec ac felis</a></li>
    <li><a href="#">Proin interdum</a></li>
    <li><a href="#">Morbi dapibus erat</a></li>
    </ul>
    </div>

<h3>Archive</h3>

    <div class="navcontainer">
    <ul>
    <li><a href="#">February</a></li>
    <li><a href="#">January</a></li>
    <li><a href="#">December</a></li>
    <li><a href="#">November</a></li>
    <li><a href="#">October</a></li>
    </ul>
    </div>
    
<h3>Some Text</h3>

<p>Proin interdum lobortis venenatis. Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<h3>Text in a box</h3>

<p class="sidebar_box">
Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>

</div><!-- end sidebar -->