
<div id="sidebar"><!-- sidebar -->

	<h3>
	Recent Posts 
		<!-- AddToAny BEGIN -->
		<a class="a2a_dd" href="http://www.addtoany.com/subscribe?linkurl=http%3A%2F%2Fwww.tristara.com%2Fblog%2F%3Ffeed%3Drss2&amp;linkname="><img src="http://static.addtoany.com/buttons/subscribe_106_16.gif" width="106" height="16" border="0" alt="Subscribe"/></a>
		<script type="text/javascript">
		var a2a_config = a2a_config || {};
		a2a_config.linkurl = "http://www.tristara.com/blog/?feed=rss2";
		</script>
		<script type="text/javascript" src="http://static.addtoany.com/menu/feed.js"></script>
		<!-- AddToAny END -->
	</h3>

	<div class="navcontainer">
	<ul>
	
    {% for post in posts %}
		<li><a href="{{post.guid}}">{{post.post_title}}</a></li>
	{% endfor %}

    </ul>
    </div>

</div><!-- end sidebar -->