{% extends "base.html" %}

{% block title %}
Video Wall
{% endblock %}

{% block js_includes %}
<script src="/js/swfobject.js"></script>
<script>
var clickedOnVideo = function(title, id) {
    var node = $('#vid_title');
    if (id == null) {
        node.html("");
    } else {
        node.html("<a href='http://www.youtube.com/watch?v=" + id + "' style='text-decoration: none;' target='new'>" + title + "</a>");
    }
}
</script>
{% endblock %}

{% block facebook_header %}
<meta property="og:title" content="Hey YouTube, implement this!" />
<meta property="og:url" content="http://www.tristara.com/video_wall" />
<meta property="og:image" content="http://www.tristara.com/images/flow_mode.png" />
{% endblock %}

{% block facebook_body %}
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=111528055628412";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}


{% block content %}    
    <div style="text-align:center; padding-bottom: 20px;">  

        <div style="font-size: 36px; margin-bottom: 20px;">
            Top 1000 YouTube videos of all time in a single player
            <span style="font-size: 14px;"><br>(see <a href="blog/2011/hey-youtube-implement-this/">Hey YouTube, Implement This!</a> for technical details)</span>
        </div>    

<script type="text/javascript">
var flashvars = {};
flashvars.search = "";

var params = {};
params.quality = "high";
params.bgcolor = "#F7F7F7";
params.allowfullscreen = "true";

var attributes = {};
attributes.id = "myPlayer";
attributes.name = "myPlayer";

swfobject.embedSWF("flash/video_wall.swf", "player", "966px", "577px", "9", "/flash/expressInstall.swf", flashvars, params, attributes);
</script>        
        
        <div id="player" class="player">
        [You need to <a href="http://get.adobe.com/flashplayer/">install Flash</a> see this player]
        </div>

        <div id="vid_title" style="font-size: 36px; margin-bottom: 20px;"></div>
    
    
        <div style="width: 120px; float: left; margin-bottom: 10px; margin-left: 200px;">
            <a href="https://twitter.com/share" class="twitter-share-button" 
                data-count="horizontal" 
                data-url="http://www.tristara.com/video_wall"
                data-text="A fun way to watch YouTube's top 1000 videos of all time."
                data-via="jseims">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </div>
                
        <div style="width: 500px; float:left;">
            <div class="fb-like" data-send="false" data-href="http://www.tristara.com/video_wall" data-width="450" data-show-faces="true"></div>
        </div>
    
    
    </div><!-- end main -->

{% endblock %}
