{% extends "base.html" %}

{% block content %}    
<div id="content"><!-- content -->

<h1>Work</h1> 

I like getting involved with new projects, so feel free to be in touch if you need:

<ul class="normal_list">
<li><b>A Technical Co-Founder</b>.  Founding a company can be very interesting and lucrative, but it's a super big deal, so we'd have to get to know each other really well.</li>
<li><b>An Advisor</b>.  I've bootstapped a company, and grown it organically to over $20 million in annual revenue.  I've made almost every possible mistake along the way, and would be happy to save you the same headaches.</li>
<li><b>An Investor</b>.  I make selective investments, based on how much value I can provide beyond money.</li>
<li><b>A Consultant</b>.  More for fun than money.  Let me know if you have a particularly interesting product you'd like built.</li>
</ul>
</p>
                  
</div><!-- end content -->

{% include "sidebar.html" %}

{% endblock %}
